:root {
	--white: hsl(0,0%,100%);
	--light-gray: hsl(212,45%,89%);
  --grayish-blue: hsl(220,15%,55%);
  --dark-blue: hsl(218, 44%, 22%);
}

html {
  font-size: 10px;
}

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}

body {
  background-color: var(--light-gray);
  justify-content: center;
  align-items: center;
  display: flex;
  min-height: 100vh;
  font-family: 'Outfit', sans-serif;
  line-height: 1.25;
}

.card {
  background-color: var(--white);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 450px;
  padding: 15px;
  text-align: center;
}

.card img {
  border-radius: 20px;
  margin-bottom: 2rem;
}

.card-heading {
  color: var(--dark-blue);
  font-weight: 700;
  font-size: 1.9rem;
  margin-bottom: 2rem;
}

.card-subtitle {
  color: var(--grayish-blue);
  font-weight: 400;
  font-size: 1.4rem;
}